{% extends 'layout.twig' %}

{% block body %}
  <h1>Welcome @ DailyPictures</h1>
  <p>Welcome to DailyPictures. We've got this for you today : <br />
  <img src="{{imageUrl}}" alt="{{imageAlt}}">
  </p>
{% endblock %}
